.carousel {
	max-width: 80%;
	margin: 0 auto;
	position: center;
}

.beer-title {
	margin-top: 20px;
	text-decoration: none !important;
	color: black;
}

.delivery-discount {
	background-color: mediumvioletred;
	color: white;
	text-align: center;
	width: 70.5vw;
	height: 15vh;
	margin-top: 20px;
	margin-left: 110px;
	margin-bottom: 10px;
}
