/* .container {
	position: relative;
	width: auto;
	height: auto;
} */

.register-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.login-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.login-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
