.back-button {
	font-size: 80px;
}

.add {
	border: none !important;
	margin-left: -20px !important;
}

.description {
	margin-top: 30px;
}
.jumbotron {
	width: 120%;
	padding: none !important;
	margin-left: -10% !important;
	background: url('https://images.unsplash.com/uploads/1412876363615cd8b2122/cd54d92f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJlZXJzJTIwc2hlbHZlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
		center center/cover no-repeat;
}
.jumbotron-title {
	font: bolder;
	font-size: 50px;
}

.jumbotron-hours {
	color: black;
	font-size: 25px;
	font: bolder;
	margin-left: 80%;
	margin-top: -18%;
	position: sticky;
}

.jumbotron-address {
	margin-left: 10% !important;
	margin-top: 2%;
	color: black;
	font-size: 30px;
	font-family: 'Russo One', sans-serif;
}
.item-tally {
	position: absolute;
	top: 0;
	background-color: #3a91c5;
	padding: 2px 6px;
	float: right !important;
	border-radius: 50%;
}

.whiskey-container {
	margin-top: 10%;
}
